pyrogram==2.0.106
tgcrypto
pymongo
aiofiles
flask
ffmpeg-python
psutil
pillow
hachoir
moviepy
apt install ffmpeg
ffmpeg required
ffmpeg -version
print("THUMB PATH:", thumb)
apt-get update && apt-get install -y ffmpeg
